.gridSystem {
  display: grid;

  grid-template-columns: 1fr;

  &--header {
    row-gap: 10rem;

    @include for-size('desktop-up') {
      grid-template-columns: 65rem 45rem;

      row-gap: unset;
    }
  }

  &--empresas {
    @include for-size('phone-only') {
      grid-template-columns: 1fr 1fr;
    }

    @include for-size('tablet-landscape-up') {
      grid-template-columns: 41.9rem 60.1rem;
    }
  }

  &--porcentajes {
    grid-template-columns: repeat(1, 1fr);

    @include for-size(25rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-size('tablet-portrait-up') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include for-size('desktop-up') {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &--map {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }

  &--autoColumns {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  &--programa {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  &--2-columns {
    grid-template-columns: repeat(2, minmax(auto, 20rem));

    @include for-size('tablet-landscape-up') {
      grid-template-columns: repeat(4, minmax(auto, 20rem));
    }
  }

  &--2-columns-didi {
    grid-template-columns: repeat(2, min-content);
  }

  &--3-columns {
    @include for-size('tablet-landscape-up') {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--2-columns-variante {
    @include for-size('tablet-landscape-up') {
      grid-template-columns: repeat(2, 40rem);
    }
  }

  &--footer {
    row-gap: 5rem;

    @include for-size('phone-only') {
      grid-template-columns: 2fr 1fr;
    }

    @include for-size('tablet-landscape-up') {
      grid-template-columns: 27rem auto auto;
    }
  }

  &__widder {
    @include for-size('phone-only') {
      grid-column: span 3 / auto;
    }
    @include for-size('tablet-landscape-up') {
      grid-column: unset;
    }
  }

  &--fechas {
    @include for-size('tablet-portrait-up') {
      grid-template-columns: 1fr 1fr;
    }
    @include for-size('tablet-landscape-up') {
      grid-template-columns: 47rem 47rem;
    }
  }

  &--match {
    @include for-size('tablet-landscape-up') {
      grid-template-columns: repeat(3, 30rem);
    }
  }

  &--rows {
    // overflow: hidden;
    grid-template-rows: 10rem;

    div {
      width: 100%;
      height: 100%;

      img {
        height: 100%;

        // object-fit: cover;
      }
    }
  }

  &--autoVariation {
    grid-template-columns: repeat(2, 1fr);
    @include for-size("tablet-portrait-up"){
      grid-template-columns: repeat(3, 1fr);
    }
    @include for-size('tablet-landscape-up') {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  }

  &--3-column-variation {
    @include for-size('1330px') {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }
}

.justify-items-center {
  justify-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .gridSystem--2-columns-didi {
    grid-template-columns: repeat(1, minmax(auto, 20rem));
  }
}