.map {
  position: relative;

  max-width: 120rem;
  margin-right: auto;
  margin-left: auto;

  &__square {
    position: absolute;
    right: -9rem;
    bottom: 0;
    z-index: -1;
    height: 20rem;
    width: 20rem;
  }

  &__img {
    width: 100%;
  }

  &__location {
    @include for-size('tablet-portrait-up') {
      position: absolute;
    }

    &--1 {
      top: 32%;
      left: 48%;
    }

    &--2 {
      top: 22%;
      left: 50%;
    }

    &--3 {
      top: 38%;
      left: 15%;
    }

    &--4 {
      top: 36%;
      left: 28%;
    }

    &--5 {
      bottom: 26%;
      left: 33%;

      height: 50px;
    }

    &--6 {
      top: 25%;
      right: 52%;
    }

    &--7 {
      bottom: 15%;
      left: 30%;

      img {
        width: 100%;
      }
    }

    &--8 {
      bottom: 33%;
      left: 17%;
    }

    &--9 {
      left: 12%;
      bottom: 23%;
    }

    &--10 {
      left: 5%;
      bottom: 42%;
    }
  }

  &__box {
    background: $cWhite;

    border-radius: 1rem;

    position: relative;

    @include for-size('tablet-portrait-up') {
      width: 15rem;
      height: 6.1rem;
    }

    --logo: scale(1);
    --text: scale(0);

    &:hover {
      --logo: scale(0);
      --text: scale(1);
    }
  }

  %transition {
    transition: transform 1s;
  }

  &__logo {
    object-fit: scale-down;

    transform: var(--logo);

    @extend %transition;
  }

  &__text {
    position: absolute;

    transform: var(--text);

    @extend %transition;
  }
}
