a:link,
a:visited,
a:active {
    text-decoration: none;


}


.asodamas--nav {
    height: 98px;
    display: flex;
    justify-content: center;
    background-color: transparent;

    .nav__box {
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}


.align--vertical--column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* botón  */
.btn-didi {
    padding: 12px 45px;
    -webkit-box-shadow: 0px 10px 20px rgba(32, 33, 47, 0.2);
    box-shadow: 0px 10px 20px rgba(32, 33, 47, 0.2);
    border-radius: 24px;
    font-size: 16px;
}

.btn--yellow {
    color: #3d1891;
    background-color: #f1af4d;
}


.white--nav {
    background-color: #fff;
}

.transparent--nav {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.9999999;
}

.asodamas--main {
    height: 807px;
    width: 100%;
    background-color: #381A8B;
    padding: 35px 30px 48px 30px;
    margin-top: 98px;

    .main__design--pattern {
        position: absolute;
        width: 44px;
        right: 10%;
        top: 146.63px;
    }

    >h1 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        color: #FFFFFF;
    }

    .main__items {
        display: flex;
        margin-top: 40px;

        >h3 {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            padding-left: 11px;

            >span {
                font-weight: 600;
            }
        }

        >img {
            width: 24px;
            height: 24px;
        }
    }


    .asodamas--buttons {
        height: 232px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}








.asodamas--buttons__button--1 {
    width: 260px;
    height: 40px;
    background: #F1AF4D;
    box-shadow: 0px 10px 20px rgba(32, 33, 47, 0.2);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #3D1891;
    margin-bottom: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.asodamas--buttons__button--2 {
    width: 259px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #3D1891;
    box-shadow: 0px 10px 20px rgba(32, 33, 47, 0.2);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #3D1891;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}



.asodamas--decoration {
    height: 747px;
    background: #C3D6F9;
    padding-top: 41px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .decoration__pattern {
        width: 120px;
        height: 120px;
        margin-top: 9.88px;
    }
}


.asodamas--main__formu {
    position: absolute;
    width: 80%;
    /* height: 805px; */
    left: 10%;
    top: 1009px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(53, 105, 128, 0.3);
    border-radius: 8px;
    padding: 28px 24px 21px 24px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    >h2 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #33345C;
        margin-bottom: 42px;

    }
}





.asodamas--logos--cont {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 126px;
    position: absolute;
    top: 1892px;

    .logos-n {

        width: 80vw;
        height: 126px;

        background: #FFFFFF;
        box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.08), 0px 16px 24px rgba(22, 34, 51, 0.08);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        display: flex;
        justify-content: space-between;

        padding: 19px 22px 23px;
        overflow: scroll;

        >div {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-right: 34px;
        }

        img {
            height: 80px;
            width: 60px;
            object-fit: contain;
        }

        h2 {
            font-weight: 500;
            font-size: 10px;
            line-height: 28px;
            text-align: center;
            width: 150px;
            color: #33345C;
        }
    }

}

.asodamas--customer-logos {

    margin-top: 415px;
    color: #7B7E9D;


    .slick-track {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .slick-slide img {
        display: unset;
    }
}




.asodamas--developers {
    height: 877px;
    background: #F2F6FA;

    margin-top: 214px;
    padding-top: 156px;

    display: flex;
    flex-direction: column;
    align-items: center;

    >h2 {
        width: 260px;
        height: 78px;
        left: 30px;
        top: 2116px;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #385499;
    }

    .developers__separator {
        width: 40px;
        height: 0px;
        border: 2px solid #385499;
        margin: 16px 0 42px;

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .developers__image {
        width: 260px;
        height: 236px;
        box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.08);
        filter: drop-shadow(0px 16px 24px rgba(22, 34, 51, 0.08));
        -webkit-filter: drop-shadow(0px 16px 24px rgba(22, 34, 51, 0.08));
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    p {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        width: 256px;
        height: 117px;
        color: #20212F;
        margin: 33px 0 48px;
    }
}







.asodamas--knowledge {
    background: #506FC5;
    /* display: flex;
        flex-direction: column;
        align-items: center; */
    padding: 64px 35px;

    .flip-card-knowledge,
    .flip-card__container {
        display: none;
    }

    .flip-card__container {
        width: 100%;
    }

    /* Flip card */
    .knowledge__flip--label {
        display: block;
        position: relative;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 190px;
        perspective: 1000px;
        transform-style: preserve-3d;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .flip-card-knowledge {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.5s ease-in-out;
        z-index: 1;
    }

    .flip-card-knowledge .front,
    .flip-card-knowledge .back {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #fff;
        backface-visibility: hidden;

    }

    .flip-card-knowledge .back {
        transform: rotateY(180deg);
        background: #fff;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
    }

    .knowledge__input--label {
        display: none;
    }

    :checked+.flip-card-knowledge {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
    }

    .flip-card__icon {
        position: absolute;
        top: 90%;
        left: 90%;
    }

    /* END Flip card */

    .knowledge__title {
        width: 256px;
        height: 52px;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        /* or 140% */

        text-align: center;

        color: #FFFFFF;
    }

    .knowledge__separator {
        width: 40px;
        height: 0px;
        border: 2px solid #fff;
        margin: 16px 0 51px;

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }


    .knowledge__paragraph {
        width: 255px;
        height: 192px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */


        color: #FFFFFF;
    }

    .knowledge--cards {
        margin-top: 64px;

        .knowledge--card__card {
            width: 258px;
            padding: 20px;
            margin-bottom: 12px;
            background-color: #fff;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;


            .knowledge--card__title {

                height: 17px;

                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 28px;
                color: #33345C;

                margin: 24px 0 12px;

            }

            .knowledge--card__separator {
                width: 16px;
                height: 0px;
                border: 1px solid #000000;
                margin-bottom: 16px;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
            }

            .knowledge--card__paragraph {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                /* or 156% */
                text-align: center;

                /* Texto - Body */

                color: #33345C;
            }

            .knowledge--card__tip {
                /* margin-top: 43px; */

                background: #FFE6D2;
                border-radius: 8px;
                padding: 24px 23px 23px 21px;

                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;

                text-align: center;


                color: #33345C;

            }
        }

    }

    .knowledge__button {
        width: 257px;
        height: 48px;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 2px solid #FFFFFF;
        border-radius: 24px;


        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1px;

        color: #FFFFFF;

    }

    .knowledge--card__paragraph>span,
    .knowledge--card__tip>span {
        font-weight: 600;
    }
}






.asodamas--paid {

    background: #F2F6FA;
    padding: 64px 35px 35px;

    .paid__title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        /* or 140% */

        text-align: center;

        color: #385499;

    }

    .paid__separator {
        width: 40px;
        height: 0px;
        border: 2px solid #385499;
        margin: 16px 0 51px;

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .paid__paragraph {
        width: 255px;
        height: 117px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 48px;

        color: #33345C;

        >span {
            font-weight: 600;
        }

    }

    .paid__card {
        width: 260px;
        padding: 24px 21px;
        margin-bottom: 48px;

        background: #FFFFFF;

        box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.08), 0px 16px 24px rgba(22, 34, 51, 0.08);
        border-radius: 8px;

        >.paid__header img {
            width: 80px;
            height: 60px;
            border-radius: 8px;
            object-fit: contain;
            margin-right: 14.69px;
        }

        h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */

            display: flex;
            align-items: center;

            /* Texto - Body */

            color: #33345C;

        }

        .paid__header {
            display: flex;
        }


        .paid__card--button {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #F1AF4D;
            margin-top: 24px;
        }

        .paid__card--content {
            display: none;

            ul {
                margin-top: 38px;


                li {

                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 24px;


                    >.paid__li--icon {
                        width: 12.97px;
                        height: 9.44px;
                        margin: 5px 8px 0;
                    }

                    >p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        /* or 171% */

                        display: inline-block;

                        /* Texto - Body */

                        color: #33345C;
                    }
                }


            }

            .paid__li--tip {
                width: 196px;
                height: 140px;
                background: #FFE6D2;
                border-radius: 8px;
                padding: 21px 15px 26px;


                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;

                text-align: center;

                margin: 0 11px 24px;


                color: #33345C;

                >span {
                    font-weight: 600;
                }

            }
        }

    }


    /* slide paid */

    .paid__prev--arrow {
        position: absolute;
        top: 95%;
        left: 45%;
        z-index: 1;
        cursor: pointer;
        height: 40px;
        box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.08), 0px 16px 24px rgba(22, 34, 51, 0.08);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .paid__next--arrow {
        position: absolute;
        top: 95%;
        left: 50%;
        z-index: 1;
        cursor: pointer;
        height: 40px;
        box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.08), 0px 16px 24px rgba(22, 34, 51, 0.08);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    /* END slide paid */



}

.asodamas--dates {

    >h2 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        margin-top: 26px;

        color: #385499;
    }

    .dates__card {
        width: 260px;
        margin-bottom: 48px;
        padding: 32px 24px;

        background: #FFFFFF;
        /* Sombra elevación */

        box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.08), 0px 16px 24px rgba(22, 34, 51, 0.08);
        border-radius: 8px;

        >h2 {

            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            /* or 171% */

            display: flex;
            align-items: center;
            text-align: center;

            /* Texto - Body */

            color: #33345C;

            margin-bottom: 24px;
        }

        div>h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            /* or 133% */

            display: flex;
            align-items: center;
            text-align: center;

            /* Texto - Body */

            color: #33345C;
            margin-bottom: 12px;
        }

        .dates_date--button {
            width: 212px;
            height: 44px;

            background: #506FC5;
            border-radius: 12px;



            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            /* or 156% */

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            /* Neutro - Blanco */

            color: #FFFFFF;
            margin-bottom: 24px;

        }

        .date--color--1 {
            background: #9FC9C3;
        }

        .date--color--2 {
            background: #381A8B;
        }
    }


}




















.asodamas--match {

    >h2 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */

        text-align: center;

        color: #385499;
        margin-top: 64px;

    }


    .match__content {
        /* display: flex;
        width: 320px; */
        display: none;

        p {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            /* or 156% */


            /* Texto - Body */

            color: #33345C;

            width: 190px;
            margin-top: 45px;

        }
    }

    .match__carousel {
        /* display: none; */
        width: 200px;
        height: 500px;
        display: flex;



        .match__next--arrow {
            position: absolute;
            top: 25%;
            right: -30px;
            z-index: 1;
            cursor: pointer;
            height: 18.35px;
        }

        .match__prev--arrow {
            position: relative;
            top: 25%;
            left: -30px;
            z-index: 1;
            cursor: pointer;
            height: 18.35px;
        }


        .slick-dots {
            display: block;
            justify-content: center;
            /* margin: 0; */
            /* padding: 0; */
            list-style-type: none;
            bottom: 4rem;


            li {
                margin: 0 0.25rem;
            }


            button {
                display: block;
                width: 2rem;
                height: 1rem;
                padding: 0;
                border: none;
                background-color: #E4E4E4;
                text-indent: -9999px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
            }

            li.slick-active button {
                background-color: #F1AF4D;
                width: 2rem;
                /* width: 4rem; */
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
            }

        }


        p {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            text-align: center;


            color: #33345C;

            width: 190px;
            margin-top: 45px;

        }


    }

    .match__tip {
        height: 193px;
        width: 210px;

        margin: 48px 55px 64px;
        text-align: left;

        font-style: normal;
        font-size: 16px;
        line-height: 24px;



        color: #33345C;


        padding: 24px 23px 28px 21px;
        background: #FFE6D2;
        border-radius: 8px;

        >span {
            font-weight: 700;
        }
    }
}



.asodamas--details {
    background: #F2F6FA;
    padding-bottom: 60px;

    >h2 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */

        text-align: center;

        color: #385499;
        margin-top: 64px;

    }

    .details__icons--container {
        display: flex;
        justify-content: space-around;
        width: 90%;
        /* max-width: 260px; */
        margin: 1.5rem;

        .details__icons {
            width: 79px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            >img {
                pointer-events: none;
            }

            h3 {
                width: 79px;
                height: 30px;

                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                /* or 133% */

                text-align: center;

                /* Texto - Body */

                color: #33345C;
                margin-top: 12px;

            }
        }
    }

    .details_card {
        /* background: #F2F6FA; */

        height: 94px;
        /* width: 80vw; */
        max-width: 640px;
        box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.08), 0px 16px 24px rgba(22, 34, 51, 0.08);
        border-radius: 8px;

        display: flex;
        padding-top: 10px;
        align-items: center;

        margin: 1.5rem;

        cursor: pointer;


        h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            width: 182px;
            color: #20212F;
            margin-left: 10px;
        }


    }

    .details--card__content {
        display: none;
    }

    .details_card--result {
        /* width: 260px; */
        background: #FFFFFF;

        max-width: 640px;
        margin: 0 1.5rem;

        padding: 3rem 6rem;
        line-height: 24px;

        ul {

            list-style-image: url('https://res.cloudinary.com/protalento/image/upload/v1667350240/Website/PROtalento/Convocatorias/Promigas/Vector_tej7sh.svg');
            list-style-position: outside;


            li {
                margin: 0 0 10px 0;
            }


        }

    }

    .details__content>label:not(:first-child) {
        margin: 8px 0;
    }

    .details_card--number {
        height: 24px;
        width: 24px;
        background: #00A7A7;
        font-size: 14px;
        color: #FFFFFF;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    #marker {
        position: relative;
        left: 7%;
        height: 4px;
        width: 25%;
        background: #4267CD;
        bottom: -8px;
        border-radius: 4px;
        z-index: 1;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;


        align-self: flex-start;
    }

    #markerBackground {
        position: relative;
        left: 0;
        top: 4px;
        height: 4px;
        width: 90%;
        max-width: 640px;
        background: #C3D6F9;
        bottom: -8px;
        border-radius: 4px;
    }
}


.asodamas--alliances {

    >h2 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */

        text-align: center;

        color: #385499;
        margin-top: 64px;

    }

    .alliances__card--container {
        display: flex;
        /* height: 843px; */

    }

    .alliances__card {
        width: 260px;
        height: 650px;
        left: 31px;
        top: 9231px;

        background: #FFFFFF;

        box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.08), 0px 16px 24px rgba(22, 34, 51, 0.08);
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 40px 30px 32px;
        margin: 15px 15px;

        .alliances__card--header {

            >div {
                margin: 40px 0 0 0;

                .cards__description {

                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 120%;


                    margin: 8px 0 20px;

                    color: #7B7E9D;


                }

                .cards__separator {
                    width: 32px;
                    height: 0px;
                    background: #33345C;
                    border: 2px solid #33345C;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                }
            }

        }
    }

    .alliances__card img {
        width: 169px;
        height: 116px;
        object-fit: contain;
    }

    .alliances__cards--content {
        display: flex;
        flex-direction: column;
        /* margin-top: 40px; */
    }

    .alliances__card h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;

        display: flex;
        align-items: center;


        color: #33345C;

    }

    .alliances__card p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;


        color: #33345C;

    }


    /* Slider */
    .alliance-carousel {
        max-width: 320px;
        /* margin-right: auto;
    margin-left: auto; */

        .slick-dots {
            display: flex;
            justify-content: center;

            /* padding: 1rem 0 0; */

            list-style-type: none;

            li {
                margin: 0 0.25rem;
                width: 2rem;
            }

            button {
                display: block;
                width: 2rem;
                height: 1rem;
                padding: 0;
                border: none;
                background-color: #E4E4E4;
                text-indent: -9999px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
            }

            li.slick-active button {
                background-color: #4267CD;
                width: 2rem;
                /* width: 4rem; */
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
            }
        }
    }



    .alliance__prev--arrow {
        position: absolute;
        top: 165px;
        left: -7%;
        z-index: 1;
        cursor: pointer;
    }

    .alliance__next--arrow {
        position: absolute;
        top: 165px;
        left: 90%;
        z-index: 1;
        cursor: pointer;
    }



    .alliances-slider-nav {
        max-width: 320px;

        .slick-track {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        .slick-slide {
            width: 120px;
            height: 52px;
            margin: 10px 0 25px 0;


            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 120%;

            color: #33345C;


            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;


            background: #FFFFFF;
            /* Sombra elevación */

            box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.08), 0px 16px 24px rgba(22, 34, 51, 0.08);
            border-radius: 8px;
        }

        .slick-current {
            background: #E6EFFF;
        }


        .slick-dots {
            display: flex;
            justify-content: center;

            /* padding: 1rem 0 0; */

            list-style-type: none;

            li {
                margin: 0 0.25rem;
                width: 2rem;
            }

            button {
                display: block;
                width: 2rem;
                height: 0.7rem;
                padding: 0;
                /* padding: 0 1.5rem; */
                border: none;
                background-color: #E4E4E4;
                text-indent: -9999px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
            }

            button:before {
                display: none;
            }

            li.slick-active button {
                background: #4267CD;
                width: 2rem;
                height: 0.7rem;

                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
            }

        }
    }



}





.asodamas--faq {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 35px 35px;

    >h2 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */

        text-align: center;

        color: #385499;
        margin-top: 64px;

    }

    .accordeon-content p>span {
        font-weight: 700;
    }

    .accordeon {
        margin: 6rem 0;

        .accordeon-item {
            margin: 1.5rem 0;
        }
    }
}









/*Tablet*/

@media screen and (min-width: 768px) {


    .asodamas--alliances {

        /*slide*/
        .alliance-carousel {
            max-width: 520px;

        }

        .alliances-slider-nav {
            max-width: 490px;
        }

        >h2 {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;

            width: 625px;
        }

        .alliances__title {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            width: 625px;
        }

        .alliances__card {
            width: 640px;
            height: auto;
            flex-direction: row;

            .alliances__card--header {
                display: flex;

                >div {
                    margin: 0 0 0 32px;
                }

            }
        }



    }


    .asodamas--main {
        width: 91.6%;
        height: 544px;
        border-radius: 0 50px 50px 0;
        -webkit-border-radius: 0 50px 50px 0;
        -moz-border-radius: 0 50px 50px 0;
        -ms-border-radius: 0 50px 50px 0;
        -o-border-radius: 0 50px 50px 0;

        padding-top: 20px;
        padding-left: 64px;

        margin-top: 168px;

        .main__container--items {
            margin-top: 28px;

            .main__design--pattern {
                position: absolute;
                width: 44px;
                left: 45%;
                top: 262px;
            }

            .main__items {
                margin-top: 25px;
            }
        }

        >h1 {

            font-size: 48px;
            line-height: 58px;
            width: 100%;
            height: 172px;
        }

        .asodamas--buttons {
            height: 132px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            /* margin-left: 64px; */
        }
    }



    .asodamas--decoration {
        position: absolute;
        width: 394px;
        height: 1342px;
        right: 0;
        top: 0px;

        background: #C3D6F9;
        border-radius: 0px 0px 0px 60px;
        z-index: -1;

        .decoration__pattern--container {
            position: absolute;
            width: 158px;
            height: 158px;
            left: 192px;
            top: 774px;

            z-index: 1;
        }

    }

    .asodamas--details {
        .details_card h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            width: auto;
            color: #20212F;
            margin-left: 10px;
        }

        #marker {
            position: relative;
            left: 10%;
            width: 25%;

        }

        #markerBackground {
            position: relative;
            left: 0;
            top: 4px;
            height: 4px;
            width: 100%;
            max-width: 640px;
            background: #C3D6F9;
            bottom: -8px;
            border-radius: 4px;
        }
    }









    .asodamas--buttons__button--1,
    .asodamas--buttons__button--2 {
        width: 200px;
        height: 48px;
    }

    .asodamas--buttons__button--1 {
        margin: 0;
    }

    .asodamas--buttons__button--2 {
        margin-left: 20px;
    }

    .asodamas--main__formu {
        position: absolute;
        width: 370px;
        left: 25%;
        top: 736px;
    }

    .asodamas--logos--cont {
        position: absolute;
        left: 0;
        top: 1628px;

        .logos-n {

            height: 126px;
            display: flex;
            justify-content: space-between;
            overflow: scroll;

            padding: 19px 48px 23px;

            >div {

                margin-right: 50px;
            }
        }

    }

    .asodamas--customer-logos {
        margin-top: 1035px;
    }




    .asodamas--developers {
        margin-top: 150px;
        height: 643px;

        >h2 {
            width: 639px;
            height: 88px;
            font-size: 36px;
            line-height: 44px;
        }

        .developers__content {
            display: flex;

            .developers__internal--content {
                margin-left: 76px;

                >p {
                    margin: 0 0 27px 0;
                    width: 303px;
                }
            }
        }
    }


    .asodamas--knowledge {

        .flip-card-knowledge {
            display: block;
        }

        .flip-card__container {
            display: block;
        }


        .knowledge--card__mobile {
            display: none;
        }

        .knowledge__title {
            font-size: 36px;
            line-height: 44px;
            width: 625px;
            height: 44px;
        }

        .knowledge__paragraph {
            width: 640px;
            height: 73px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }

        .knowledge--cards {
            width: 640px;
            flex-direction: row;
        }

        .knowledge--card__card {
            height: 397px;
        }

        .knowledge--card__tip {
            margin-top: 0;
            width: 171px;
            /* height: 146px; */
            padding: 15px 10px 15px 10px;

        }

        .knowledge--cards>div:not(:last-child) {
            margin-right: 10px;
        }

        .knowledge__button {
            margin-top: 48px;
            width: 200px;
            height: 48px;
        }
    }




    .asodamas--paid {
        padding: 64px 0px 35px;

        .paid-section-slider {

            height: 700px;

            max-width: 660px;


            .slick-slide {
                width: 310px;
                height: 636px;
                margin: 10px;




            }

            .slick-track {
                display: flex;
                align-items: center;
                gap: 3rem;



            }

            /* slide paid */

            .paid__prev--arrow {
                position: absolute;
                top: 45%;
                left: 0%;
                z-index: 1;
                cursor: pointer;
                height: 40px;
                box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.08), 0px 16px 24px rgba(22, 34, 51, 0.08);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }

            .paid__next--arrow {
                position: absolute;
                top: 45%;
                left: 95%;
                z-index: 1;
                cursor: pointer;
                height: 40px;
                box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.08), 0px 16px 24px rgba(22, 34, 51, 0.08);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }

            /* END slide paid */


            .slick-dots {
                display: flex;
                justify-content: center;

                /* padding: 1rem 0 0; */

                list-style-type: none;

                li {
                    margin: 0 0.25rem;
                    width: 2rem;
                }

                button {
                    display: block;
                    width: 2rem;
                    height: 1rem;
                    padding: 0;
                    /* padding: 0 1.5rem; */
                    border: none;
                    background-color: #E4E4E4;
                    text-indent: -9999px;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                }

                button:before {
                    display: none;
                }

                li.slick-active button {
                    background: #4267CD;
                    width: 2rem;
                    height: 1rem;

                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                }

            }

        }

        .paid__title {
            width: 639px;
            height: 44px;
            font-size: 36px;
            line-height: 44px;
        }

        .paid__paragraph {
            width: 640px;
            height: 48px;
        }

        .paid__cards--container {
            display: flex;
            /* padding: 50px 0px; */
        }


        .paid__card {
            /* width: 281px;
            height: 470px;
            margin: 0 11px 0; */

            .paid__card--content {
                display: inline;
            }
        }

        .paid__li--tip {
            display: none;

        }


        .paid__card--content ul {
            /* overflow-y: scroll; */
            height: 250px;

        }



        .paid__card--button {
            display: none;
        }
    }




    .asodamas--dates {
        >h2 {
            font-size: 36px;
            line-height: 44px;
        }

        .dates__card {
            width: 640px;
            height: 201px;

            >div {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }

            .dates_date--button {
                width: 189px;
                height: 40px;
                margin: 0px;
            }
        }

    }


    .asodamas--match {

        >h2 {
            width: 639px;
            height: 44px;
            font-size: 36px;
            line-height: 44px;
        }

        .match__carousel {
            display: none;
        }

        .match__content {
            display: flex;
            width: 640px;

            p {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;



                color: #33345C;

                width: 190px;
                margin-top: 45px;

            }

            >div:not(:last-child) {
                margin-right: 26px;
            }
        }

        .match__tip {
            width: 420px;
            height: 130px;
            background: #FFE6D2;
            border-radius: 8px;

            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;

            color: #33345C;

            padding: 28px 23px 29px 24px;
        }

    }



    .asodamas--details {
        >h2 {
            width: 639px;
            height: 44px;
            font-size: 36px;
            line-height: 44px;
        }

        .details__icons--container {
            display: flex;
            width: 640px;
            max-width: 640px;

            .details__icons {
                width: 200px;

                >h3 {
                    width: 100%;
                }
            }
        }

        .details_card {
            width: 640px;
        }

        .details_card--result {
            width: 640px;
            background: #FFFFFF;
        }

        .programa__container+a.asodamas--buttons__button--1 {
            margin-top: 64px;
        }
    }

    .asodamas--alliances {
        >h2 {
            width: 639px;
            height: 44px;
            font-size: 36px;
            line-height: 44px;
        }
    }

    .asodamas--faq {

        >h2 {
            width: 639px;
            height: 44px;
            font-size: 36px;
            line-height: 44px;
        }

        .accordeon {
            max-width: 640px;
        }
    }




}





/* Laptop */
@media screen and (min-width: 1024px) {





    .asodamas--main {
        width: 50.9%;
        height: 795px;
        margin-top: 115px;
        padding-top: 30px;
        margin-top: 202px;

        .main__design--pattern {
            position: absolute;
            width: 44px;
            left: 333px;
            top: 271px;
        }

        .main__container--items {
            margin: 58px 59px 0 0;
        }

        >h1 {
            /* width: 403px; */
            height: auto;
            font-size: 68px;
            line-height: 70px;
        }
    }


    .asodamas--decoration {
        width: 667px;
        height: 744px;
        right: 0;
        top: 0px;

        .decoration__pattern--container {
            position: absolute;
            width: 158px;
            height: 158px;
            left: 76%;
            right: 0px;
            top: 168px;

        }

    }



    .asodamas--main__formu {
        position: absolute;
        height: 810px;
        left: 55%;
        top: 122px;
    }

    .asodamas--developers {
        margin-top: 177px;

        .developers__internal--content {
            margin-left: 24px;

            >p {
                margin: 0 0 32px 0;
                width: 303px;
            }
        }

        .developers__image {
            width: 310px;
            height: 281.38px;
        }
    }






    .asodamas--logos--cont {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 126px;
        position: absolute;
        /* left: 10%; */

        top: 1148px;


        .logos-n {
            overflow: hidden;

            >div {

                margin-right: 0px;
            }
        }

    }

    .asodamas--customer-logos {
        margin-top: 201px;
    }


    .asodamas--paid {

        .paid__cards--container {
            /* align-self: flex-start; */
            /* width: 100%; */

            .paid__card {
                width: 310px;
                height: 636px;

                /* margin: 0 11px 0; */
            }
        }

        .paid-section-slider {
            max-width: 960px;

            .slick-track {
                gap: 2rem;



            }
        }
    }

    .asodamas--dates {
        >h2 {
            margin-top: 96px;
        }
    }

    .asodamas--match {
        >h2 {
            margin-top: 96px;
        }
    }

    .asodamas--details {

        >h2 {
            margin-top: 96px;
        }

        .programa__container+a.asodamas--buttons__button--1 {
            margin-top: 64px;
        }

        #marker {
            position: relative;
            left: 40%;
            width: 0px;

        }

        #markerBackground::after {
            position: absolute;
            left: 0;
            content: '';
            height: 4px;
            width: 25rem;
            background: #4267CD;
            border-radius: 4px;
            z-index: 1;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }

        .hide-markerBackground::after {
            display: none;
        }
    }

    .asodamas--alliances {
        >h2 {
            margin-top: 96px;
        }
    }



    .asodamas--faq {

        >h2 {
            margin-top: 96px;
        }
    }

}




@media screen and (min-width: 1500px) {


    .asodamas--main {
        padding: 67px;
        height: auto;
    }

    .asodamas--main__formu {
        left: 66%;
    }

    .asodamas--logos--cont {
        top: 1111px;
    }


    .asodamas--customer-logos {
        margin-top: 326px;
    }


    .asodamas--developers {
        margin-top: 184px;
    }
}