.header {
  position: relative;

  padding-top: 10rem;

  @include for-size('phone-only') {
    padding-top: 15rem;
  }

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30%;

    z-index: -1;

    background: url('https://res.cloudinary.com/protalento/image/upload/f_auto,q_auto/v1660318219/Website/PROtalento/Generales/background_home_hero_qvcuhs.png')
      no-repeat bottom center / cover;

    @include for-size('tablet-portrait-up') {
      bottom: 0;
    }
  }

  &--bg-none {
    &::after {
      background: unset;
    }
  }

  &__content {
    font-size: $medium-size;
  }

  &__title {
    font-size: 3.5rem;
    line-height: 1.5em;

    @include for-size('phone-only') {
      font-size: $big-size;
      line-height: 7.5rem;
    }
  }

  &__titlesmall {
    line-height: 2.8rem;
  }

  &__text {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  &__line {
    position: relative;

    .linea {
      position: absolute;
      top: 100%;
      left: 50%;

      @include for-size('tablet-portrait-up') {
        top: unset;
        left: unset;
      }

      @include for-size('desktop-up') {
        bottom: -100%;
      }
    }

    .btn {
      width: 100%;
      text-align: center;

      @include for-size('tablet-portrait-up') {
        width: unset;
      }
    }
  }

  &__form-box {
    position: relative;
    .square {
      position: absolute;

      &--1 {
        bottom: 30%;
        left: -10rem;
      }

      &--2 {
        bottom: 35%;
        left: -5rem;
      }

      &--3 {
        bottom: 5%;
        right: -5rem;
      }

      &--4 {
        top: 30%;
        right: -5rem;
      }

      &--5 {
        top: 5%;
        left: 50%;
      }

      &--6 {
        top: 20%;
        left: 2%;
      }

      &--7 {
        top: 78%;
        left: -12%;
      }

      &--8 {
        top: 25%;
        left: 15%;
      }

      &--9 {
        top: 20%;
        left: 60%;
      }

      &--10 {
        width: 287px;

        top: -1%;
        left: 15%;
        
        background: $cWhite;
        box-shadow: 0px 4px 15px 10px rgba(0, 0, 0, 0.04);
        border-radius: 8px;
      }
    }

    &--bg-blue {
      &::after {
        content: '';

        position: absolute;
        top: 0;
        // height: 290rem;
        width: 100%;

        background: url(https://res.cloudinary.com/protalento/image/upload/v1658777286/Website/Convocatorias/Rectangle_1139_e9c74r.svg)
          no-repeat;
      }
    }
  }

  &__form {
    position: relative;

    padding: 3rem 2rem;

    border-radius: 1rem;
    box-shadow: 0px 4px 8px 0px #3569804d;

    z-index: 100;
  }

  &__input {
    padding: 1rem 1.5rem;

    background: $cNeutral;
    border: 1px solid $cGray;
    border-radius: 0.5rem;

    &::placeholder {
      color: $cGrayLight;
    }

    &--small {
      width: 35%;
    }
  }
}

.aliados {
  position: relative;

  &__square {
    display: none;

    position: absolute;
    top: 15%;
    left: 5%;

    @include for-size('phone-only') {
      display: block;
    }

    @include for-size('tablet-landscape-up') {
      top: 10%;
      left: 15%;
    }
  }

  &__img {
    max-height: 7rem;
    // width: 100%;
  }

  .customer-logos {
    .slick-track {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    .slick-slide img {
      display: unset;
    }
  }

  &__box {
    text-align: center;
  }
}

.programas {
  position: relative;

  background: $cSecondaryDynamic;

  &__square {
    display: none;

    position: absolute;
    bottom: -10rem;

    @include for-size('tablet-portrait-up') {
      display: block;

      left: 2rem;
    }

    @include for-size('tablet-landscape-up') {
      left: 5rem;
    }
  }
}

.postulate {
  background: $cBlueDark;
}

.carusel__country {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 25px;
    margin-top: 10px;
  }
}

.talent__title {
  margin-top: 10px;
}

.t-y-c {
  padding: 120px 10% ;

  padding: 120px 10% ;

  text-align: center;

  .content__title {
    color: $cBlueDark;
  }

  h1 {
    font-size: $medium-bigger-size;
    margin-bottom: 20px;
  }

  h2 {
    font-size: $medium-big-size;
    margin-bottom: 20px;
  }

  h3 {
    font-size: $medium-size;
    margin-bottom: 20px;
  }

  p{
    font-size: $small-size;
  }

  ul, ol {
    font-size: $small-size;

  }

  b {
    font-weight: 600;
  }
}

.uil-university, .uil-user-plus::before, .uil-trophy::before, .uil-rocket::before, .uil-award::before, .uil-receipt::before {
  font-size: 24px;
}

.feature__text {
  max-width: 68px;
}

.justify-text {
  text-align: justify;
}

.didi__details {
  padding: 1.5rem;
  margin: 3rem;

  overflow: hidden;

  background: $cWhite;
  box-shadow: 0px 4px 15px 10px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  cursor: pointer;

}

.didi-programs-details {
  width: 310px;
  min-height: 81px;

  padding-top: 20px;
  padding-left: 30px;

background: $cWhite;

box-shadow: 0px 10px 20px 4px rgba(32, 33, 47, 0.2);
border-radius: 8px;

cursor: pointer;

  summary {
    list-style: none;
    
    .program-img {
      margin-top: 33px;
    }

    .devf-img {
      height: 16px;
      width: 69px;
    }

    .coding-dojo-img {
      height: 23px;
      width: 64px;
    }

    .protalento-img {
      height: 9px;
      width: 69px;
    }

    h4 {
      margin-top: 16px;
    }

  }

  .program-features-container {

    display: flex;
    flex-direction: row;

    margin-bottom: .5rem;

    .program-features {
      padding: 8px;
      margin-right: 10px;

      color: #006096;
      font-weight: 600;
      letter-spacing: 1px;

      background: rgba(195, 214, 249, 0.4);
      border-radius: 24px;
    }

  }

  a {
    font-size: $smaller-size;
    letter-spacing: 1px;
    font-weight: 600;
    color: $cSecondaryDynamic;
    text-decoration: none;
  }

}

.program-flag {
  margin-top: 0.6rem;

  img {
    margin-right: 0.6rem;
  }
}

.faq {
  margin-left: 3%;
  margin-right: 3%;
}

// .min-h-didi {
//   padding-bottom: 46%;
// }


.didi-map-company {
  width: 165px;
  height: 101px;
}

@media only screen and (min-width: 320px) and (max-width: 2000px) {

  .header__content__didi {
    max-width: 424px;
  }

}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .square--5 { align-self: start;}
}

.accordeon {
  margin: 15rem 0;
}

.accordeon-title .arrow { 
  transition: all .3s;

  float: right;
}

.arrow {
  margin-right: 2rem;

  transition: all .3s;
}

.arrow-rotate {
  transform: rotate(90deg);

  transition: all .3s;
}

.accordeon-content {
  padding: 0 1rem;
  line-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all .3s;
}

.accordeon-content.active {
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1.4;
  opacity: 1;
}

.hero__salary-1 {
  position: absolute;

  top: 28%;
  left: 5%;
  width: 212px;
  height: 103px;

  padding: 1.5rem;

  text-align: center;

  background: #FFFFFF;
  box-shadow: 0px 4px 15px 10px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  a {
    text-decoration: underline;
  }
}

.hero__salary-2 {
  position: absolute;

  top: 72%;
  left: 22%;

  width: 212px;
  height: 103px;

  padding: 1.5rem;

  text-align: center;

  background: #FFFFFF;
  box-shadow: 0px 4px 15px 10px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  a {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {

.flex-hero {
  display: flex;
  flex-direction: column;
}

}

.faq {
  margin-left: 3%;
  margin-right: 3%;
}

.container__case {
  display: flex;
  flex-direction: row;
}

.width-170-nav {
  width: 170px;
}

.width-81-nav {
  width: 81px;
}

.m-width-nav-580 {
  max-width: 58rem;
}

.btn-didi-talent {
  padding-top: 0.75rem;

  border: 2px inset $cSecondaryDynamic;
}

.dotted-line-hero {
  position: absolute;
  z-index: -1;

  top: 61%;
  left: 8%;

  transform: rotate(10deg);
}